.git
.gitignore
.env
.env.*
.venv/
fast_server/venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

tests/
SOP/
web/
mqtt_conf/

swarm.yml
portainer-agent-stack.yml
ntp_info.md
